<div id="Header">
    <div id="Title">The Virtual Science Lab</div>
    <a href="/signIn"><img id="accountLogo" src="/accountLogo.svg"></img></a>
</div>
<div id="TopicList">
    <div class="topics">Mechanics</div>
    <div class="topics">Waves</div>
    <div class="topics">Electricity</div>
    <div class="topics">Materials</div>
    <div class="topics">Particles</div>
</div>
