<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Virtual Science Lab</title>
    <link rel="stylesheet" href="/root.css">
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="/navigation.css">
</head>
<body>
    <%- include("../Partials/Navigation.ejs")%>
    <div id="AccountProgress">
        <div class="salutation" id="defaultMessage">You have not signed in. Sign in to track and view progress</div>
        <div class="salutation" id="enabledMessage">Signed in as </div>
        <div id="ProgressText">Progress: </div>
        <div id="progress">
            <!-- Insert Progress Code here -->
        </div>
    </div>
    <div id="AboutSection">
        <div style="font-family: var(--inter);" id="AboutText">About <i>The Virtual Science Lab</i></div>
        <div id="AboutPara">( To be added )</div>
        <div id="UpdateText">Updates to the website</div>
        <div id="UpdateSection"></div>
    </div>
</body>
</html>