<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/signIn.css">
    <link rel="stylesheet" href="/root.css">
</head>
<body>
    <div id="mainContainer">
        <div id="logoContainer">
            <img src="/accountLogo.svg" id="accountLogo">
            <div id="title">The Virutal Science Lab</div>
        </div>
        <div id="formContainer">
            <input type="text" class="field" id="username" placeholder="Username">
            <input type="password" class="field" id="password" placeholder="Password">
            <div class="field" id="loginButton">LOGIN</div>
            <div id="forgottenContainer">
                <div id="forgottenText">Forgotten Password ?</div>
            </div>
            <hr>
            <div id="newAccountContainer">
                <a href="/signUp" id="newAccountText">Create new account</a>
            </div>
            <div>or sign in with</div>
            <div id="googleLogoWrapper">
                <img src="/googleIcon.png" id="GoogleImage">
                <div id="GoogleText">Google</div>
            </div>
        </div>
    </div>
</body>
</html>